.imageContainer {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  height: 245px;
  background-color: rgb(170, 165, 165);
}
.articleContainer {
  background-color: #fff;
  border: 1px solid rgba(234, 234, 234, 1);
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.05);
  align-items: center;
}
.contentContainer {
  position: absolute;
  top: 0;
  left: 0;
  margin: 150px 75px 35px 75px;
  width: (100vw - 30px);
  height: (100vh - 300px);
}
